.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 900px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.slider__container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.slider__elem {
  transition: margin .5s ease-in;
  font-size: 0;
  width: 900px;
}
