.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 900px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.slider__container {
  display: flex;
  position: relative;
  flex-flow: row wrap;

}

.slider__elem {
  display: flex;
  //transition: margin .5s ease-in;
}
