.slider-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 900px;
  min-width: 480px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.slider__container {
  display: flex;
  position: relative;
  transition: margin .5s ease-out;
  flex-flow: row wrap;
}

.slider__elem {
  display: flex;
  transition: margin .5s ease-out;
}
