* {
  box-sizing: border-box;
  &::after {
    box-sizing: inherit;
  }
  &::before {
    box-sizing: inherit;
  }
}

body {
  font-size: 16px;
  line-height: 20px;
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
  text-transform: none;
  background-color: #ffe;
}
.wrapper {
  width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.main-header {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
}
.btn--header {
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 5px;
  color: white;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;
  background: black;
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
.main-navigation {
  width: 100%;
  margin-bottom: 10px;
  background: linear-gradient(to right, #ccc, #4F4D4D);
}
.sf-menu {
  list-style: none;
  display: flex;
}
.menu__item {
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  padding: 0 20px;
  &:hover {
    cursor: pointer;
    background-color: #756E6E;
  }
}
.current-menu-item {
  background-color: black;
  color: white;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
}
.article {
  width: 100%;
  &.hidden {
    display: none;
  }
}
.entry-title {
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10px 0;
}
.author {
  font-weight: bold;
}
.post-heading {
  font-size: 1.5em;
}
.excerpt {
  width: 100%;
  padding: 0 10px;
  & img {
    max-width: 99%;
  }
  & a {
    text-decoration: none;
    color: #683E85;
  }
}
.action-button {
  display: inline-block;
  width: 200px;
  padding: 5px;
  text-decoration: none;
  background-color: #4F4D4D;
  color: #ffe;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0 10px;
  &:hover {
    cursor: pointer;
    background-color: #756E6E;
  }
}
.article_tmpl {
  display: none;
}
.load {
  display: inline-block;
  width: 500px;
  font-size: 1.3em;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  text-align: center;
  margin: 10px 0 20px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
