$black: #000;
$white: #fff;
$pink: #ad59c9;
$green: #75c959;

$white-trn: rgba(255, 255, 255, 0.6);
$black-trn: rgba(0, 0, 0, 0.5);
$gray: rgba(105, 105, 105, 0.8);

$clr-sld: rgba(255, 255, 238, 0.7);
$clr-rss: rgba(79, 77, 77, 0.7);
$clr-hill: rgba(107, 107, 252, 0.7);
$clr-todo: rgba(51, 122, 183, 0.7);
$clr-olivia: rgba(175, 96, 226, 0.7);
$clr-pink: rgba(210, 40, 86, 0.7);
$clr-btst: rgba(152, 24, 24, 0.7);
$clr-sedona: rgba(129, 179, 210, 0.7);
$clr-elegant: rgba(75, 183, 219, 0.7);
