$gr-pink: rgba(175, 96, 226, 1);
$gr-blue: rgba(115, 149, 242, 1);

$white: #fff;
$black: #000;
$pink: #a62ad7;
$blue: #4183f1;

$fs-bigger: 1.125rem; //18
$fs-title-sub: 1.25rem;//20
$fs-title: 1.75rem; //28
$fs-title-big: 3.75rem; //60
