@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlab/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabr/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
