.main-footer {
  padding: 58px 0 68px;
  text-align: center;
  &__title {
    color: $black;
    padding: 0 10px 0 10px;
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 30px;
    font-family: "CleanvertisingLight", Arial, Tahoma, sans-serif;
    margin-top: 0;
    font-weight: normal;
  }
  &__text {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
.bottom-contacts {
  text-transform: uppercase;
  font-family: "RobotoBold", Arial, Tahoma, sans-serif;
  color: $red;
  margin-bottom: 30px;
  & .wrapper .tabs {
    cursor: pointer;
  }
  & .wrapper .active {
    text-decoration: underline;
  }
}
.bottom-item {
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
}
