.contacts-info {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &__list {
    min-width: 15%;
    list-style: none;
    &-item a {
      @include link-style;
      color: $clr-elegant;
      font-size: 0.9em;
      vertical-align: middle;
    }
  }
}


.contacts-text {
  font-size: 1.1em;
  text-align: center;
  color: $black;
}

.gray-text {
  text-transform: uppercase;
  color: $gray;
}
