@import '../components/_mixins';
.social-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  @media only screen and (min-width: 769px) {
    flex-grow: 1;
    justify-content: center;
    margin: 0;
  }
  &--twitter {
    @include social-btn-props-mobile;
    &:hover {
      background-color: $blue-hover;
    }
    &:active {
      background-color: $blue-active;
      opacity: 0.7;
    }
  }
  &--fb {
    @extend .social-btn--twitter;
  }
  &--ytb {
    @extend .social-btn--twitter;
  }
}

.legal-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media only screen and (min-width: 769px) {
    flex-grow: 1;
    margin: 0;
    justify-content: center;
  }
  &--academy {
    text-decoration: none;
    color: $black;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    margin-right: 20px;
    padding-right: 30px;
    position: relative;
    cursor: pointer;
    &::after {
      position: absolute;
      content: '';
      width: 27px;
      height: 30px;
      background: url("../img/legal-academy.svg") no-repeat;
      right: -7px;
      top: 0;
    }
    &:hover {
      color: $blue-hover;
    }
    &:active {
      opacity: 0.7;
    }
  }
  &--name {
    @extend .legal-btn--academy;
    margin-right: 0;
    &::after {
      background: url("../img/legal-name.svg") no-repeat;
    }
  }
}

.search-btn {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  background: $brown;
  font-size: $fs-mobile;
  color: $white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
  @media only screen and (min-width: 556px) and (max-width: 768px)  {
    font-size: 1rem;
  }
  &:hover {
    background-color: $brown-hover;
  }
  &:active {
    background-color: $brown-active;
    color: $brown;
  }
  &-submit {
    @extend .search-btn;
    width: 80%;
    background: $blue;
    padding: 10px 0;
    margin: 0 auto;
    &:hover {
      background-color: $blue-hover;
    }
    &:active {
      background-color: $blue-active;
      color: $white;
      opacity: 0.7;
    }
  }
}
