$gray: #f2f2f2;
$gray-text: #b2b2b2;

$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;

$black: #000;
$white: #fff;

$brown: #766357;
$brown-hover: #604e43;
$brown-active: #503e33;


$fs-mobile: 1.3rem;
$fs-tablet-title: 1.5rem;
