@mixin main-button-properties {
  display: inline-block;
  vertical-align: top;
  padding: 10px 25px;

  font-size: 0.8rem;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  color: #fff;
  background: #000;
  border: none;
  outline: none;
}

@mixin social-buttons {
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;

  font-size: 0;
  text-decoration: none;

  background: #000 url("../img/sprite.png") no-repeat center;
}
