.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: $white;
  justify-content: center;
  @media only screen and (min-width: 769px) {
    width: 50%;
    margin: 0 auto;
  }
}
.modal-form {
  display: none;
  &--show {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 25px;
    animation: show-animation 0.8s;
    @media only screen and (min-width: 769px) {
      position: absolute;
      background-color: $white;
      z-index: 100;
      padding: 8%;
      margin-bottom: 0;
      left: 0;
    }
  }
}

.search-form {
  width: 100%;
  position: relative;
  &__label {
    flex-grow: 1;
    text-align: left;
    font-size: 1rem;
    padding: 2px 0;
    margin-bottom: 5px;
    font-weight: 700;
  }
  &__input {
    width: 100%;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 700;
    padding: 5px 10px;
    color: $gray-text;
    border: none;
    outline: none;
    text-transform: inherit;
    background-color: $gray;
    &:focus {
      background-color: $blue-active;
    }
  }
  &__counter {
    @extend .search-form__input;
    width: 30%;
    text-align: center;
  }
}

@keyframes show-animation {
  0% { transform: translateY(-300px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.input-container {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  &__item {
    flex-grow: 3;
  }
  &__counter {
    flex-grow: 2;
    display: flex;
    align-items: center;
    padding: 0 0 0 5%;
  }
}
.counter-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  & .search-form__label {
    flex-grow: 0;
    min-width: 30%;
  }
}
