.main-footer {
  width: 100%;
  margin-top: 5%;
  background: #000 url("../img/black-pattern.png") repeat;
  &__content{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 0.8rem;
  }
}
.footer-contacts {
  width: (100%/3);
  text-align: center;
  &__title {
    margin-bottom: 0;
  }
}
.footer-social {
  @extend .footer-contacts;
}
.footer-copyright {
  @extend .footer-contacts;  
}
