.main-page-content {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.big-logo {
  display: flex;
  justify-content: center;
}
.content-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  &__item {
    max-width: (100%/3);
    text-align: center;
    margin-bottom: 5vh;
    padding: 1%;
  }
  &__item-title {
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 20%;
    &::after {
      content: "";
      position: absolute;
      border: 0;
      top: 150%;
      left: 50%;
      margin-left: -10px;
      display: block;
      width: 20px;
      height: 20px;
      background: #fff;
      transform: rotate(45deg);
    }
  }
}
.content-description {
  width: 100%;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.content-description__news {
  list-style: none;
  margin: 0;
  padding: 0;
  &--content {
  text-align: left;
  margin-bottom: 5%;
  }
  &--time {
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  }
}
.content-description__contact-info {
  text-align: left;
  margin-bottom: 5%;
}
.content-description__left-column {
  width: 50%;
  padding: 7%;
  color: #000;
  background: #fff url("../img/white-pattern.png") repeat;
}
.content-description__right-column {
  @extend .content-description__left-column;
}
.content-gallery__item {
  margin: 0;
  width: 300px;
  height: 178px;
  border: 7px solid white;
  background: #ccc;
  position: relative;
  img {
    width: 286px;
    height: 164px;
  }
}
.appointment-form {
  &__title {
    margin-bottom: 5%;
  }
  &__input {
    width: 40%;
    padding: 3% 4%;
    border: 2px solid #000;
    margin-right: 7%;
    margin-bottom: 7%;
    color: #000;
    background: #f9f6f3;
    font-size: 0.8rem;
    outline: none;
    &:focus {
      border: 2px solid #663d15;
    }
  }
}
