.main-navigation {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    min-height: 50px;
    min-width: (100%/7);
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:hover {
      opacity: 0.3;
      cursor: pointer;
    }
  }
  .active {
    position: relative;
    &:hover {
      opacity: 1;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 3px;
      background: white;
    }
  }
  .user-block {
    position: relative;
    text-align: right;
    &::before {
      content: "";
      position: absolute;
      top: 33%;
      left: 50%;
      width: 18px;
      height: 16px;
      background: transparent url("../img/icon-login.png") no-repeat;
    }
  }
}
